<nav>
    <div class="site-title">
        <p>Blog It See It</p>
        <a href='/'><h1>Blog ninja</h1></a>
        <p>See new blogs daily</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about1">About</a></li>
        <li><a href="/blogs/create">New blog</a></li>
    </ul>
</nav>