<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="blogs content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit illo asperiores perferendis harum porro, esse saepe nihil eos aperiam doloribus voluptate? Accusamus officia porro praesentium, obcaecati nobis laborum cumque iusto!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum quae iure modi placeat illum magni. Quas repellat similique soluta expedita rem velit rerum repudiandae quia minus magnam culpa, vero vel?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam ullam tempore enim nulla velit voluptate quasi. Deleniti at nesciunt perferendis, eius rem odio recusandae. Beatae sed qui porro minus! Quos.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>